<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Giữ cấu hình logging mặc định của Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <!-- ============================= -->
    <!-- API LOGGER -->
    <!-- ============================= -->

    <appender name="API_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>

    </appender>


    <logger name="API_LOG"
            level="INFO"
            additivity="false">

        <appender-ref ref="API_CONSOLE"/>

    </logger>


    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
